<h1><%=@comment.id ? 'Edit comment' : 'New comment' %> on <%= @movie.title %></h1>
<hr/>
<%= form_for [@movie, @comment] do |f| %>
  <%= f.label :body %>
  <br/>
  <%= f.text_area :body, required: true %>
  <br/>
  <%= f.submit %>
<%end%>

