<div>
<%= link_to 'Home', movies_path %>
</div>
<h1><%= @movie.title %></h1>
<hr />
<iframe src="<%= @movie.trailer %>"></iframe>
<br />
<h5>Duration</h5>
<%= @movie.duration %>
<br />
<h5>Genre</h5>
<%= @movie.genre %>
<br /> 
<a href="<%= @movie.description %>">IMDB Description</a>
<br />
<h5>Last Updated</h5>
<%= @movie.updated_at %>
<br />
<h5>Created</h5>
<%= @movie.created_at %>
<h5>Comments</h5>
<%= link_to 'Add Comment', new_movie_comment_path(@movie) %>
<% @movie.comments.each do |comment| %>
  <%= render 'comments/comment', { comment: comment }  %>
<%end%>
